FOODIESmyclient/loginandregisterforms/Web References/server/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64893/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64893/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64893/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/loginandregister" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Registeration_InputMessage">
    <wsdl:part name="parameters" element="tns:Registeration" />
  </wsdl:message>
  <wsdl:message name="IService1_Registeration_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_login_InputMessage">
    <wsdl:part name="parameters" element="tns:login" />
  </wsdl:message>
  <wsdl:message name="IService1_login_OutputMessage">
    <wsdl:part name="parameters" element="tns:loginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_resetpassword_InputMessage">
    <wsdl:part name="parameters" element="tns:resetpassword" />
  </wsdl:message>
  <wsdl:message name="IService1_resetpassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:resetpasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_additem_InputMessage">
    <wsdl:part name="parameters" element="tns:additem" />
  </wsdl:message>
  <wsdl:message name="IService1_additem_OutputMessage">
    <wsdl:part name="parameters" element="tns:additemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_InputMessage">
    <wsdl:part name="parameters" element="tns:delete" />
  </wsdl:message>
  <wsdl:message name="IService1_delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_adddeal_InputMessage">
    <wsdl:part name="parameters" element="tns:adddeal" />
  </wsdl:message>
  <wsdl:message name="IService1_adddeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:adddealResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getlist_InputMessage">
    <wsdl:part name="parameters" element="tns:getlist" />
  </wsdl:message>
  <wsdl:message name="IService1_getlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:getlistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getdeal_InputMessage">
    <wsdl:part name="parameters" element="tns:getdeal" />
  </wsdl:message>
  <wsdl:message name="IService1_getdeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:getdealResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_orderitem_InputMessage">
    <wsdl:part name="parameters" element="tns:orderitem" />
  </wsdl:message>
  <wsdl:message name="IService1_orderitem_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderitemResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getorder_InputMessage">
    <wsdl:part name="parameters" element="tns:getorder" />
  </wsdl:message>
  <wsdl:message name="IService1_getorder_OutputMessage">
    <wsdl:part name="parameters" element="tns:getorderResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Tprice_InputMessage">
    <wsdl:part name="parameters" element="tns:Tprice" />
  </wsdl:message>
  <wsdl:message name="IService1_Tprice_OutputMessage">
    <wsdl:part name="parameters" element="tns:TpriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getprice_InputMessage">
    <wsdl:part name="parameters" element="tns:getprice" />
  </wsdl:message>
  <wsdl:message name="IService1_getprice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getpriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_gettotalprice_InputMessage">
    <wsdl:part name="parameters" element="tns:gettotalprice" />
  </wsdl:message>
  <wsdl:message name="IService1_gettotalprice_OutputMessage">
    <wsdl:part name="parameters" element="tns:gettotalpriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_gettax_InputMessage">
    <wsdl:part name="parameters" element="tns:gettax" />
  </wsdl:message>
  <wsdl:message name="IService1_gettax_OutputMessage">
    <wsdl:part name="parameters" element="tns:gettaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addlocation_InputMessage">
    <wsdl:part name="parameters" element="tns:addlocation" />
  </wsdl:message>
  <wsdl:message name="IService1_addlocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:addlocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_islocation_InputMessage">
    <wsdl:part name="parameters" element="tns:islocation" />
  </wsdl:message>
  <wsdl:message name="IService1_islocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:islocationResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_orderdeal_InputMessage">
    <wsdl:part name="parameters" element="tns:orderdeal" />
  </wsdl:message>
  <wsdl:message name="IService1_orderdeal_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderdealResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_orderprice_InputMessage">
    <wsdl:part name="parameters" element="tns:orderprice" />
  </wsdl:message>
  <wsdl:message name="IService1_orderprice_OutputMessage">
    <wsdl:part name="parameters" element="tns:orderpriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getorderlist_InputMessage">
    <wsdl:part name="parameters" element="tns:getorderlist" />
  </wsdl:message>
  <wsdl:message name="IService1_getorderlist_OutputMessage">
    <wsdl:part name="parameters" element="tns:getorderlistResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getorderprice_InputMessage">
    <wsdl:part name="parameters" element="tns:getorderprice" />
  </wsdl:message>
  <wsdl:message name="IService1_getorderprice_OutputMessage">
    <wsdl:part name="parameters" element="tns:getorderpriceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_calTax_InputMessage">
    <wsdl:part name="parameters" element="tns:calTax" />
  </wsdl:message>
  <wsdl:message name="IService1_calTax_OutputMessage">
    <wsdl:part name="parameters" element="tns:calTaxResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getfinalbill_InputMessage">
    <wsdl:part name="parameters" element="tns:getfinalbill" />
  </wsdl:message>
  <wsdl:message name="IService1_getfinalbill_OutputMessage">
    <wsdl:part name="parameters" element="tns:getfinalbillResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_calfinalbill_InputMessage">
    <wsdl:part name="parameters" element="tns:calfinalbill" />
  </wsdl:message>
  <wsdl:message name="IService1_calfinalbill_OutputMessage">
    <wsdl:part name="parameters" element="tns:calfinalbillResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_gettax1_InputMessage">
    <wsdl:part name="parameters" element="tns:gettax1" />
  </wsdl:message>
  <wsdl:message name="IService1_gettax1_OutputMessage">
    <wsdl:part name="parameters" element="tns:gettax1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Registeration">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Registeration" message="tns:IService1_Registeration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/RegisterationResponse" message="tns:IService1_Registeration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/login" message="tns:IService1_login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/loginResponse" message="tns:IService1_login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="resetpassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/resetpassword" message="tns:IService1_resetpassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/resetpasswordResponse" message="tns:IService1_resetpassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="additem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/additem" message="tns:IService1_additem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/additemResponse" message="tns:IService1_additem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/delete" message="tns:IService1_delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/deleteResponse" message="tns:IService1_delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="adddeal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/adddeal" message="tns:IService1_adddeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/adddealResponse" message="tns:IService1_adddeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getlist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getlist" message="tns:IService1_getlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getlistResponse" message="tns:IService1_getlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getdeal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getdeal" message="tns:IService1_getdeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getdealResponse" message="tns:IService1_getdeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="orderitem">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/orderitem" message="tns:IService1_orderitem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/orderitemResponse" message="tns:IService1_orderitem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getorder">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getorder" message="tns:IService1_getorder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getorderResponse" message="tns:IService1_getorder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tprice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Tprice" message="tns:IService1_Tprice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TpriceResponse" message="tns:IService1_Tprice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getprice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getprice" message="tns:IService1_getprice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getpriceResponse" message="tns:IService1_getprice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gettotalprice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/gettotalprice" message="tns:IService1_gettotalprice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/gettotalpriceResponse" message="tns:IService1_gettotalprice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gettax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/gettax" message="tns:IService1_gettax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/gettaxResponse" message="tns:IService1_gettax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addlocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addlocation" message="tns:IService1_addlocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addlocationResponse" message="tns:IService1_addlocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="islocation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/islocation" message="tns:IService1_islocation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/islocationResponse" message="tns:IService1_islocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="orderdeal">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/orderdeal" message="tns:IService1_orderdeal_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/orderdealResponse" message="tns:IService1_orderdeal_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="orderprice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/orderprice" message="tns:IService1_orderprice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/orderpriceResponse" message="tns:IService1_orderprice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getorderlist">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getorderlist" message="tns:IService1_getorderlist_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getorderlistResponse" message="tns:IService1_getorderlist_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getorderprice">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getorderprice" message="tns:IService1_getorderprice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getorderpriceResponse" message="tns:IService1_getorderprice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calTax">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/calTax" message="tns:IService1_calTax_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/calTaxResponse" message="tns:IService1_calTax_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getfinalbill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getfinalbill" message="tns:IService1_getfinalbill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getfinalbillResponse" message="tns:IService1_getfinalbill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="calfinalbill">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/calfinalbill" message="tns:IService1_calfinalbill_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/calfinalbillResponse" message="tns:IService1_calfinalbill_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="gettax1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/gettax1" message="tns:IService1_gettax1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/gettax1Response" message="tns:IService1_gettax1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registeration">
      <soap:operation soapAction="http://tempuri.org/IService1/Registeration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="login">
      <soap:operation soapAction="http://tempuri.org/IService1/login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="resetpassword">
      <soap:operation soapAction="http://tempuri.org/IService1/resetpassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="additem">
      <soap:operation soapAction="http://tempuri.org/IService1/additem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="http://tempuri.org/IService1/delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="adddeal">
      <soap:operation soapAction="http://tempuri.org/IService1/adddeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getlist">
      <soap:operation soapAction="http://tempuri.org/IService1/getlist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getdeal">
      <soap:operation soapAction="http://tempuri.org/IService1/getdeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderitem">
      <soap:operation soapAction="http://tempuri.org/IService1/orderitem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getorder">
      <soap:operation soapAction="http://tempuri.org/IService1/getorder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Tprice">
      <soap:operation soapAction="http://tempuri.org/IService1/Tprice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getprice">
      <soap:operation soapAction="http://tempuri.org/IService1/getprice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettotalprice">
      <soap:operation soapAction="http://tempuri.org/IService1/gettotalprice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettax">
      <soap:operation soapAction="http://tempuri.org/IService1/gettax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addlocation">
      <soap:operation soapAction="http://tempuri.org/IService1/addlocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="islocation">
      <soap:operation soapAction="http://tempuri.org/IService1/islocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderdeal">
      <soap:operation soapAction="http://tempuri.org/IService1/orderdeal" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="orderprice">
      <soap:operation soapAction="http://tempuri.org/IService1/orderprice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getorderlist">
      <soap:operation soapAction="http://tempuri.org/IService1/getorderlist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getorderprice">
      <soap:operation soapAction="http://tempuri.org/IService1/getorderprice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calTax">
      <soap:operation soapAction="http://tempuri.org/IService1/calTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getfinalbill">
      <soap:operation soapAction="http://tempuri.org/IService1/getfinalbill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calfinalbill">
      <soap:operation soapAction="http://tempuri.org/IService1/calfinalbill" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="gettax1">
      <soap:operation soapAction="http://tempuri.org/IService1/gettax1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:64893/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>